@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@keyframes float {
  0% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-20%) translateX(50%);
    opacity: 0;
  }
}
.animate-float {
  animation: float 4s ease-in infinite;
}